.frame-35,
.frame-35 * {
  box-sizing: border-box;
}

.frame-35 {
  background: #213b1e;
  height: 1323px;
  position: relative;
  overflow: hidden;
}

.frame-18 {
  background: #ffffff;
  width: 335px;
  height: 280px;
  position: absolute;
  left: 100px;
  top: 961px;
  overflow: hidden;
}

.primary-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 501px;
  height: 70px;
  position: absolute;
  left: 80px;
  top: 49px;
  color: pink;
}

.primary-nav a:visited {
  color: pink;
}

.cars-story {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 37px;
  width: 278px;
  height: 232px;
}

.frame-36 {
  width: 730px;

  position: absolute;
  left: 100px;
  top: 133px;
  overflow: hidden;
  object-fit: cover;
}

.frame-37 {
  width: 347px;
  height: 280px;
  position: absolute;
  left: 480px;
  top: 961px;
  overflow: hidden;
  object-fit: cover;
}

.frame-38 {
  width: 730px;

  position: absolute;
  left: 100px;
  top: 553px;
  overflow: hidden;
  object-fit: cover;
}

.heading {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 144px;
  top: 7px;
}