.final-home,
.final-home * {
  box-sizing: border-box;
}
.primary-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 501px;
  height: 70px;
  position: absolute;
  left: 80px;
  top: 49px;
}
.final-home {
  background: #aaaaaa;
  height: 1057px;
  position: relative;
  overflow: hidden;
}
.frame-9 {
  background: #ffffff;
  width: 259px;
  height: 33px;
  position: absolute;
  left: 335px;
  top: 7px;
  overflow: hidden;
}
.frame-10 {
  width: 359px;
  height: 156px;
  position: absolute;
  left: 102px;
  top: 97px;
  overflow: hidden;
  object-fit: cover;
}
.frame-18 {
  background: #ffffff;
  width: 139px;
  height: 245px;
  position: absolute;
  left: 24px;
  top: 300px;
  overflow: hidden;
}
.frame-19 {
  width: 139px;
  height: 104px;
  position: absolute;
  
 
  overflow: hidden;
  object-fit: cover;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 7px;
  top: 111px;
  width: 117px;
  height: 106px;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.frame-20 {
  background: #ffffff;
  width: 139px;
  height: 245px;
  position: absolute;
  left: 27px;
  top: 600px;
  overflow: hidden;
}
.frame-192 {
  width: 140px;
  height: 105px;
  position: absolute;
  left: -1px;
  top: -10px;
  overflow: hidden;
  object-fit: cover;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m2 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 8px;
  top: 118px;
  width: 117px;
  height: 106px;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-2-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-2-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.frame-193 {
  background: #ffffff;
  width: 139px;
  height: 245px;
  position: absolute;
  left: 215px;
  top: 300px;
  overflow: hidden;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-2-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-2-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.frame-21 {
  background: #ffffff;
  width: 139px;
  height: 245px;
  position: absolute;
  left: 223px;
  top: 600px;
  overflow: hidden;
}
.frame-194 {
  width: 139px;
  height: 104px;
  position: absolute;
  
 
  overflow: hidden;
  object-fit: cover;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m3 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 11px;
  top: 111px;
  width: 117px;
  height: 106px;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-3-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-3-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.frame-23 {
  background: #ffffff;
  width: 139px;
  height: 245px;
  position: absolute;
  left: 419px;
  top: 601px;
  overflow: hidden;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m4 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 11px;
  top: 111px;
  width: 117px;
  height: 106px;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-4-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-4-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.frame-212 {
  background: #ffffff;
  width: 139px;
  height: 245px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m5 {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 11px;
  top: 111px;
  width: 117px;
  height: 106px;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-5-span {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-5-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-5-span3 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
}
.frame-182 {
  background: #ffffff;
  width: 138px;
  height: 245px;
  position: absolute;
  left: 412px;
  top: 300px;
  overflow: hidden;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m6 {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 8px;
  top: 118px;
  width: 117px;
  height: 106px;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-6-span {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.compliant-crossbow-kit-card-a-print-in-place-crossbow-that-fits-in-your-wallet-it-has-3-kg-of-draw-weight-allowing-it-to-launch-the-arrow-up-to-5-m-6-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
}
.heading {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 144px;
  top: 7px;
}


._3-d-printer {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 333px;
  top: 28px;
  width: 264px;
  height: 37px;
}
